<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<div class = "container">

<h1>Coronavirus Cases Tracker Application</h1>
<p> This website tracks the current number of covid-19 cases reported across the globe and is updated daily</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total cases reported as of today</p>
    <hr class="my-4">
    <p>
        <span>New Cases Reported Today </span>
        <span th:text="${newCasesToday}"></span>
    </p>
</div>


    <table class = "table">
        <tr>
            <th>STATE</th>
            <th>COUNTRY</th>
            <th>TOTAL CASES</th>
            <th>NEW CASES TODAY</th>

        </tr>
        <tr th:each="stat : ${allStats}">
            <td th:text="${stat.state}"></td>
            <td th:text="${stat.country}"></td>
            <td th:text="${stat.latestTotalCases}">0</td>
            <td th:text="${stat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>


</body>

</html>